<% title "Databases" %>

<table>
  <% for database in @databases %>
    <tr>
      <td><%= link_to database.name, database %></td>
      <td><%= link_to "edit", edit_database_path(database) %></td>
      <td><%= link_to "remove", database, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New", new_database_path %></p>
