<% title "Reports" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for report in @reports %>
    <tr>
      <td><%= link_to report.name, report %></td>
      <td><%= link_to "Remove", report, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Report", new_database_report_path(@database) %></p>
